.home-title{
    text-align: center;
}

.home-title p{
    margin: 10px 0 3rem 0
}

.card p{
    margin-bottom: 1rem;
}

.card img{
    margin-bottom: 1rem;
}
.what-we-offer{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .cards{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 30px;
    margin-bottom: 4rem;
  }
  .card{
    display: flex;
    flex-direction: column;
    box-shadow: 0 48px 80px -32px rgba(0,0,0,0.3);
    align-items: center;
    margin: 10px;
    padding: 10px;
  }

  .offer-title{text-align: center;}

  .carousel .control-dots{
      display: none;
  } 


 